{% extends "cards/base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Players Home" "players:players-home" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
    <div class="container">
        <h1>{{ title }}</h1>
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <table class="table table-condensed table-striped">
            {% for p in players %}
            <tbody>
                <tr>
                    <td>{{ p.player_first_name }}</td>
                    <td>{{ p.player_last_name }}</td>
                    <td><a href="{% url 'cards:card-list' p.id %}">View Cards</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock content %}