{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Players Home" "players:players-home" %}
    {% breadcrumb "Player Form" "obj.id" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <article class="media content-section">
                    {% if object.card_image %}
                        <img class="article-img" src="{{ object.card_image.url | default_if_none:'default.png' }}" alt="{{ object.card_num }}">
                    {% endif %}
                      <div class="media-body text-light">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" name="submit" value="Submit">
                        </form>
                      </div>
                </article>
            </div>
        </div>
    </div>
{% endblock content %}