{% extends "cards/base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Card List All" "cards:card-list-all" %}
    {% breadcrumb "Players Home" "players:players-home" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
    <div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1>

        {% include 'cards/pag.html' %}
        <table class="table table-dark table-striped">
            <tbody>
            {% for p in players %}
                <tr>
                    <td>{{ p.player_fname }}</td>
                    <td>{{ p.player_lname }}</td>
                    <td><a href="{% url 'cards:card-list-player' p.slug %}">View Cards</a></td>
                </tr>

            {% endfor %}
        </tbody>
        </table>
        {% include 'cards/pag.html' %}
    </div>

{% endblock content %}