<td class="col-sm-4">{{ p.player.player_fname }}</td>
<td class="col-sm-5">{{ p.player.player_lname }}</td>
<td class="col-sm-1">{{ p.count }}</td>
<td class="col-sm-2">
    <a class="" href="{% url 'cards:card-list-player' p.player.slug %}"><i class="fa fa-list-alt"></i></a>
    {% if user.is_authenticated %}
        <a class=""
            href="#add"
            hx-get="{% url 'cards:card-new-form-async' 'player' p.player.slug %}"
            hx-target="#form-div"
            hx-swap="innerHMTL"
            title="Add card for {{ p.player.player_fname }} {{ p.player.player_lname }}"><i class="fa fa-plus"></i></a>
        {% if user.is_superuser %}
            {% if p.count == 0 %}
                <a class=""
                    href="#delete"
                    hx-post="{% url 'players:players-delete-async' p.player.id %}"
                    hx-target="#card-div"
                    hx-swap="innerHTML"
                    hx-confirm="Are you sure you want to proceed? This action cannot be undone"><i class="fa fa-trash"></i></a>
            {% else %}
                <span class="text-muted" title="Unable to delete since there are child records"><i class="fa fa-trash"></i></span>
            {% endif %}
        {% endif %}
        <a class="" href="#update" hx-get="{% url 'players:players-upd-async' p.player.id %}" hx-target="#form-div" hx-swap="innerHTML"><i class="fa fa-edit"></i></a>
    {% endif %}
    <span class="fade-out m-1">
        {% if t_message %}
            <small class="text-muted">{{t_message|safe}}</small>
        {% endif %}
        {% if new_id and new_id == p.player.id %}
            <small class="text-muted">
                <i class="fa fa-star"></i>
            </small>
        {% endif %}
    </span>
</td>