<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-8">
                <h1>{{ title }}</h1>
            </div>
            <div class="col-sm-4 me-auto text-end">
                <div id="message-div">
                    <small class="text-muted fade-out">
                        {{ message|safe }}
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body filter-bar">
        {% include '_search_filter.html' %}
    </div>
    <div class="card-body scroll">
        <div id="player-div">
            <table class="table table-hover" id="filter-table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Count</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="my-table">
                    {% for p in rs %}
                        <tr id="tr-p{{ p.player.id }}" class="player-row">
                            {% include 'players/player_list_tr_partial.html' %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{ rs|length }}</small>
    </div>
</div>