{% load crispy_forms_tags %}
<article class="media content-section">
      <div class="media-body text-light">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">{{ form|crispy }}</div>
            </div>
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm-12 me-auto text-end">
{#                    <input type="submit" name="submit" value="Submit">#}
                    <button class="btn btn-sm btn-dark"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </form>
      </div>
</article>