{% load crispy_forms_tags %}
<article class="media content-section">
      <div class="media-body text-light">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">{{ form|crispy }}</div>
            </div>
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm-12 me-auto text-end">
                    {% if obj %}
                        <button class="btn btn-sm btn-dark" hx-post="{% url 'players:players-upd-async' obj.id %}" hx-target="#tr-p{{ obj.id }}" hx-swap="innerHTML"><i class="fa fa-save"></i></button>
                    {% else %}
                        <button class="btn btn-sm btn-dark"><i class="fa fa-save"></i></button>
                    {% endif %}
                </div>
            </div>
        </form>
      </div>
</article>