{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Players Home" "players:players-home" %}
    {% breadcrumb object.player_lname "cards:card-list-player" object.id %}
    {% breadcrumb "Player Detail" "players:players-det" object.id %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
    <div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h1>{{ title }}</h1>
                    </div>
                    <div class="card-body">
                        <article class="media content-section">
                          <div class="media-body">
                            <h4>{{ object.player_fname }} {{ object.player_lname }}</h4>
                          </div>
                        </article>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Update Player
                    </div>
                    <div class="card-body">
                        <div id="player-form">
                            {% include 'players/player_form.html' %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}