<td>{{ p.player_fname }}</td>
<td>{{ p.player_lname }}</td>
<td>
    <a class="m-1" href="{% url 'cards:card-list-player' p.slug %}"><i class="fa fa-list-alt"></i></a>
    {% if user.is_authenticated %}
        <a class="m-1" href="#update" hx-get="{% url 'players:players-upd-async' p.id %}" hx-target="#player-form" hx-swap="innerHTML"><i class="fa fa-edit"></i></a>
    {% endif %}
    {% if success %}
        <span class="fade-out"><small class="text-muted"><i class="fa fa-check"></i></small></span>
    {% endif %}
</td>