@import url("/static/cards/font-awesome.min.css");

body {
  /*background-color: #333333;*/
  /*color: #eee*/
}

/*h1 {*/
/*  font-size: 24px;*/
/*  font-weight: bold;*/
/*}*/

/*h2 {*/
/*  font-size: 20px;*/
/*  font-weight: bold;*/
/*}*/

/*table td {font-size: 13px;}*/

.small-header {
  font-size: 12px;
}

.content-section {
  /*background-color: #2f2f2f;*/
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 3px;
  margin-bottom: 20px;
  /*color: #e1e1e1;*/
}

.article-title {
  /*color: #e1e1e1;*/
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  font-size:13px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #888
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}


/*th, td {color: #e1e1e1;}*/

.list-group {
  background-color: #2b2b2b;
}

.successfully-saved.hide-opacity{
    opacity: 0;
}

.successfully-saved {
    transition: opacity 3s ease-in-out;
    opacity: 1;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.scroll {
  max-height: 640px;
  overflow-y: scroll;
}

@media only screen and (max-width: 900px) {
        .one{
            display: none;
        }
    }
