{% extends "cards/base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cards Home" "cards:cardsets" %}
    {% breadcrumb "Card List" "cards:card-list" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
    <div class="container">
        <h1>{{ title }}</h1>
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <table class="table table-dark table-striped">
            <tbody>
            {% for card in cards %}
                <tr>
                    <td>{{ card.player_id. }}</td>
                    <td><a href="{% url 'cards:card-list' card.card_set_id_id %}">{{ card.card_set_id }}</a></td>
                    <td>{{ card.card_subset }}</td>
                    <td>{{ card.card_num }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% if page_obj and is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num > page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
    </div>

{% endblock content %}