{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Card Sets" "cards:cardsets" %}
    {% breadcrumb "Card List" "cards:card-list-all" %}
    {% if card_set %}
        {% breadcrumb card_set.card_set_name "cards:card-list-set" card_set.slug %}
    {% endif %}
    {% if player %}
        {% breadcrumb player.player_lname "cards:card-list-player" player.slug %}
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
    <div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h1>{{ title }}</h1>
                    </div>
                    <div class="card-body">
                        {% include 'cards/card-list-table-partial.html' %}
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                {% if user.is_authenticated %}
                    <div class="card">
                        <div class="card-header">
                            <h2>Add new card</h2>
                        </div>
                        <div class="card-body">
                            <div id="card-form">
                                {% include 'cards/card-form.html' %}
                            </div>
                        </div>
                        <div class="card-footer"><small class="text-muted"></small></div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        let table = new DataTable(
            '#myTable',
            {
                sort: [[0,1]],
                lengthMenu: [
                    [50, 100, 250, -1],
                    [50, 100, 250, 'All']
                ],
                pageLength: 50
            });
    </script>

{% endblock content %}