{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cards Home" "cards:cardsets" %}
    {% breadcrumb object.player_id.player_lname "cards:card-list-player" object.player_id.slug %}
    {% breadcrumb "Card Detail" "cards:card-det" object.player_id %}
{% endblock breadcrumbs %}
{% block content %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h1>{{ title }}</h1>
                    </div>
                    <div class="card-body">
                        <article class="media content-section">
                            {% if object.card_image %}
                                <img class="article-img" src="{{ object.card_image.url | default_if_none:'default.png' }}" alt="{{ object.card_num }}">
                            {% endif %}
                              <div class="media-body">
                                <div class="article-metadata">
                                    <small class="text-muted">
                                        {{ object.card_set_id.year }} {{ object.card_set_id.card_set_name }} |
                                        {{ object.card_subset }} | {{ object.card_num }} |
                                        <a href="{% url 'cards:card-upd' object.id %}"><i class="fa fa-edit"></i></a>
                                    </small>
                                </div>
                                <h3 class="article-title">{{ object.player_id.player_fname }} {{ object.player_id.player_lname }}</h3>
                              </div>
                        </article>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Update card
                    </div>
                    <div class="card-body">
                        <div id="card-form">
                            {% include 'cards/card-form.html' %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}