{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cards Home" "cards:cardsets" %}
    {% breadcrumb "Card Detail" "" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
	<div class="container">
        <h1>{{ title }}</h1><div>
        <small class="text-muted">{% render_breadcrumbs %}</small></div>
        <table class="table table-condensed table-striped">
            <tbody>
                <tr>
                    <td>{{ object.player_id }}</td>
                    <td><a href="{% url 'cards:card-list' object.card_set_id_id %}">{{ object.card_set_id }}</a></td>
                    <td>{{ object.card_subset }}</td>
                    <td>{{ object.card_num }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock content %}