<td class="one"><a href="{% url 'cards:card-list-player' card.player_id.slug %}">{{ card.player_id.player_fname }} {{ card.player_id.player_lname }}</a></td>
<td class="me-auto text-end">{{ card.card_set_id.year }}</td>
<td><a href="{% url 'cards:card-list-set' card.card_set_id.slug %}">{{ card.card_set_id.card_set_name }} {{ card.card_set_id.sport }}</a></td>
<td class="one">{% if card.card_subset %}{{ card.card_subset }}{% endif %}</td>
<td class="me-auto text-end">{{ card.card_num }}</td>
{% if user.is_authenticated %}
    <td colspan="2">
        <div class="row">
            <div class="col-sm-3">
                {% if card.card_image %}
                    <a href="{% url 'cards:card-image' card.id %}"><i class="fa fa-image"></i></a>
                {% endif %}
            </div>
            <div class="col-sm-3">
                {% if request.user.is_superuser %}
                    <a href="#delete" hx-post="{% url 'cards:card-delete-async' card.id %}" hx-target="#card-div" hx-swap="innerHTML"><i class="fa fa-trash"></i></a>
                {% endif %}
            </div>
            <div class="col-sm-3">
                <a href="#update" hx-get="{% url 'cards:card-upd-async' card.id %}" hx-target="#form-div" hx-swap="innerHTML"><i class="fa fa-edit"></i></a>
            </div>
            <div class="col-sm-3">
                <span class="fade-out">
                    {% if t_message %}
                        <small class="text-muted">{{t_message|safe}}</small>
                    {% endif %}
                    {% if new_id and new_id == card.id %}
                        <small class="text-muted">
                            <i class="fa fa-star"></i>
                        </small>
                    {% endif %}
                </span>
            </div>
        </div>
    </td>
{% endif %}