{% extends "cards/base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cardsets Home" "cards:cardsets" %}
    {% breadcrumb "Card List All" "cards:card-list-all" %}
    {% breadcrumb "Card List" "cards:card-list" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
    <div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1>

        {% include 'cards/pag.html' %}
            <table class="table table-dark table-striped">
                <tbody>
                {% for card in cards %}
                    <tr>
                        <td><a href="{% url 'cards:card-list-player' card.player_id.slug %}">{{ card.player_id.player_fname }} {{ card.player_id.player_lname }}</a></td>
                        <td>{{ card.card_set_id.year }}</td>
                        <td><a href="{% url 'cards:card-list' card.card_set_id.slug %}">{{ card.card_set_id.card_set_name }}</a></td>
                        <td>{{ card.card_subset }}</td>
                        <td><a href="{% url 'cards:card-det' card.id %}">{{ card.card_num }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        {% include 'cards/pag.html' %}
    </div>

{% endblock content %}