<table class="table table-striped" id="filter-table">
    <thead>
        <tr>
            <th class="one">Player Name</th>
            <th>Year</th>
            <th>Set</th>
            <th class="one">Subset/Info</th>
            <th>Card Num</th>
            {% if user.is_authenticated %}<th>Actions</th>{% endif %}
        </tr>
    </thead>
    <tbody id="my-table">
        {% for card in rs %}
            <tr id="tr-c{{ card.id }}">
                {% include 'cards/card-list-tr-partial.html' %}
            </tr>
        {% endfor %}
    </tbody>
</table>