<td class="col-sm-1 me-auto text-end">{{ card.card.year }}</td>
<td class="col-sm-6"><a href="{% url 'cards:card-list-set' card.card.slug %}">{{ card.card.card_set_name }}</a></td>
<td class="col-sm-2">{{ card.card.sport }}</td>
<td class="col-sm-1">{{ card.count }}</td>
<td class="col-sm-2">
    <a class="" href="{% url 'cards:card-list-set' card.card.slug %}" title="View Cards List"><i class="fa fa-list-alt"></i></a>
    {% if user.is_authenticated %}
        <a class="" href="#add" hx-get="{% url 'cards:card-new-form-async' 'set' card.card.slug %}" hx-target="#form-div" hx-swap="innerHTML" title="Add player to {{ card.card.year }} {{ card.card.card_set }}"><i class="fa fa-plus"></i></a>
        <a class="" href="#update" hx-get="{% url 'cards:cardsets-upd-async' card.card.id %}" hx-target="#form-div" hx-swap="innerHTML" title="Update"><i class="fa fa-edit"></i></a>
        <span class="fade-out m-1">
            {% if t_message %}
                <small class="text-muted">{{t_message|safe}}</small>
            {% endif %}
            {% if new_id and new_id == card.card.id %}
                <small class="text-muted">
                    <i class="fa fa-star"></i>
                </small>
            {% endif %}
        </span>
    {% endif %}
</td>