{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cards Home" "cards:cardsets" %}
    {% breadcrumb "Card Detail" "" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1><div>

        <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ object.year }} | <a href="{% url 'cards:card-list' object.card_set_id_id %}">{{ object.card_set_name }}</a></small>
                    <h3 class="article-title">{{ object.player_id.player_fname }} {{ object.player_id.player_lname }}</h3>
                    <p class="article-content">{{ object.card_subset }} | {{ object.card_num }}</p>
                </div>
              </div>
        </article>
    </div>

{% endblock content %}