<td class="one"><a href="{% url 'cards:card-list-player' card.player_id.slug %}">{{ card.player_id.player_fname }} {{ card.player_id.player_lname }}</a></td>
<td style="text-align: right">{{ card.card_set_id.year }}</td>
<td><a href="{% url 'cards:card-list-set' card.card_set_id.slug %}">{{ card.card_set_id.card_set_name }}</a></td>
<td class="one">{% if card.card_subset %}{{ card.card_subset }}{% endif %}</td>
<td style="text-align: right">{{ card.card_num }}</td>
{% if user.is_authenticated %}
    <td>
        {% if request.user.is_superuser %}
            <a class="m-2" href="#delete" hx-post="{% url 'cards:card-delete-async' card.id %}" hx-target="#card-list-card" hx-swap="innerHTML"><i class="fa fa-trash"></i></a>
        {% endif %}
        <a class="m-1" href="#update" hx-get="{% url 'cards:card-upd-async' card.id %}" hx-target="#card-form-card" hx-swap="innerHTML"><i class="fa fa-edit"></i></a>
        <span class="fade-out m-1">
            {% if t_message %}
                <small class="text-muted">{{t_message|safe}}</small>
            {% endif %}
            {% if new_id and new_id == card.id %}
                <small class="text-muted">
                    <i class="fa fa-star"></i>
                </small>
            {% endif %}
        </span>
    </td>
{% endif %}