<div class="card">
    <div class="card-header bg-info-subtle">
        <div class="row">
            <div class="col-sm-8">
                <h1>{{ title }}</h1>
            </div>
            <div class="col-sm-4 me-auto text-end">
                <div id="cardset-message">
                    <small class="text-muted fade-out">
                        {{ c_message|safe }}
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body filter-bar">
        {% include '_search_filter.html' %}
    </div>
    <div class="card-body scroll">
        <div id="cardset-div" class="fade-in">
            {% include 'cards/cardset-list-table-partial.html' %}
        </div>
    </div>
    <div class="card-footer text-center bg-info-subtle">
        <small class="text-muted">
            <small class="text-muted">
                <a class="me-2" href="?page=1"><i class="fa fa-chevron-left tiny"></i><i class="fa fa-chevron-left tiny"></i></a>
                {% if rs.has_previous %}
                    <a class="m-2" href="?page={{ rs.previous_page_number }}"><i class="fa fa-chevron-left"></i></a>
                    <a class="m-2" href="?page={{ rs.previous_page_number }}">{{rs.previous_page_number}}</a>
                {% endif %}
                <a class="m-2" href="?page={{ rs.number }}"><u>{{ rs.number }}</u></a>
                {%if rs.has_next %}
                    <a class="m-2" href="?page={{ rs.next_page_number }}">{{ rs.next_page_number }}</a>
                    <a class="m-2" href="?page={{ rs.next_page_number }}"><i class="fa fa-chevron-right"></i></a>
                {% endif %}
                <a class="ms-2" href="?page={{ n_pages }}"><i class="fa fa-chevron-right tiny"></i><i class="fa fa-chevron-right tiny"></i></a>
            </small>
        </small>
    </div>
</div>