<td style="text-align: right">{{ card.year }}</td>
<td><a href="{% url 'cards:card-list-set' card.slug %}">{{ card.card_set_name }}</a></td>
    <td>
        <a class="m-2" href="{% url 'cards:card-list-set' card.slug %}" title="View Cards List"><i class="fa fa-list-alt"></i></a>
        {% if user.is_authenticated %}
            <a class="m-2" href="#add" hx-get="{% url 'cards:card-new-form-async' 'set' card.slug %}" hx-target="#form-div" hx-swap="innerHTML" title="Add player to {{ card.year }} {{ card.card_set }}"><i class="fa fa-plus"></i></a>
            <a class="m-2" href="#update" hx-get="{% url 'cards:cardsets-upd-async' card.id %}" hx-target="#form-div" hx-swap="innerHTML" title="Update"><i class="fa fa-edit"></i></a>
            <span class="fade-out m-1">
                {% if t_message %}
                    <small class="text-muted">{{t_message|safe}}</small>
                {% endif %}
                {% if new_id and new_id == card.id %}
                    <small class="text-muted">
                        <i class="fa fa-star"></i>
                    </small>
                {% endif %}
            </span>
        {% endif %}
    </td>