{% extends "cards/base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb "Cardsets Home" "cards:cardsets" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1>

        {% include 'cards/pag.html' %}
        <table class="table table-dark table-striped">
            <tbody>
            {% for card in cards %}
                <tr>
                    <td>{{ card.year }}</td>
                    <td><a href="{% url 'cards:card-list' card.id %}">{{ card.card_set_name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'cards/pag.html' %}
    </div>

{% endblock content %}