{% load custom_tags %}
<table class="table table-hover" id="filter-table">
    <thead>
        <tr>
            <th class="one">Player Name</th>
            <th>Year</th>
            <th>Set</th>
            <th class="one">Subset/Info</th>
            <th>Card Num</th>
            {% if user.is_authenticated %}<th>Actions</th>{% endif %}
        </tr>
    </thead>
    <tbody id="my-table">
        {% for card in rs.object_list %}
            <tr id="tr-c{{ card.id }}" title="{{ card.date_entered }}">
                {% include 'cards/card-list-tr-partial.html' %}
            </tr>
        {% endfor %}
    </tbody>
</table>
