{% load crispy_forms_tags %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-10">
                <h2>{{ card_title }}</h2>
            </div>
            <div class="col-sm-2 me-auto text-end">
                <a href="#refresh" hx-get="{% url 'cards:cardsets-form-refresh' %}" hx-target="#form-div" hx-swap="innerHTML"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body">
            <article class="media content-section">
                  <div class="media-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">{{ form|crispy }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 me-auto text-end">
            {#                    <input type="submit" name="submit" value="Submit">#}
                                {% if obj %}
                                    <button class="btn btn-lg btn-outline-secondary" hx-post="{% url 'cards:cardsets-upd-async' obj.id %}" hx-target="#tr-s{{ obj.id }}" hx-swap="innerHTML"><i class="fa fa-save"></i></button>
                                {% else %}
                                    <button class="btn btn-lg btn-outline-secondary" hx-post="{% url 'cards:cardsets-new-async' %}" hx-target="#card-div" hx-swap="innerHTML"><i class="fa fa-save"></i></button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                  </div>
            </article>
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <i class="fa fa-refresh"></i> {{ loaded|date:'m/d/Y h:i:s A' }}
        </small>
    </div>
</div>