{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Card Sets" "cards:cardsets" %}
{% endblock breadcrumbs %}
{% block content %}

	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <div class="row">
            <div class="col-sm-{% if user.is_authenticated %}8{% else %}12{% endif %}">
                <div class="card">
                    <div class="card-header">
                        <h1>{{ title }}</h1>
                    </div>
                    <div class="card-body">
                        {% include '_search_filter.html' %}
                    </div>
                    <div class="card-body scroll">
                        <div id="cardset-div">
                            {% include 'cards/cardset-list-table-partial.html' %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            {{cards|length}}
                        </small>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h2>New Cardset</h2>
                        </div>
                        <div class="card-body">
                            <div id="cardset-form">
                                {% include 'cards/cardset-form.html' %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                {% if message %}{{ message }}{% endif %}
                            </small>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{#    <script>#}
{#        let table = new DataTable('#myTable', {#}
{#                sort: [[0,1]],#}
{#                lengthMenu: [#}
{#                    [50, 100, 250, -1],#}
{#                    [50, 100, 250, 'All']#}
{#                ],#}
{#                pageLength: 50#}
{#            });#}
{#    </script>#}
{% endblock content %}