{% extends "cards/base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cardsets Home" "cards:cardsets" %}
    {% breadcrumb "Cardset Form" "cards:cardsets-new" %}
{% endblock breadcrumbs %}
{% block content %}
    {% load static %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="submit" value="Submit">
        </form>
    </div>

{% endblock content %}