{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}

{% endblock breadcrumbs %}
{% block content %}
    <div class="container">
    <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <h1>{{ title }}</h1>

        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="row">

			<table class="table table-dark table-striped">

                <tr>
                    <td><a href="{% url 'cards:cardsets' %}">View Card Sets</a></td>
                    <td><a href="{% url 'players:players-home' %}">View Players</a></td>
                </tr>
                {% if user.is_authenticated %}
                    <tr>
                        <td></td>
                        <td><a href="{% url 'players:players-new' %}">Enter New Player</a></td>
                    </tr>
                {% endif %}
        </table>
        </div>
    </div>
{% endblock content %}