{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% load static %}
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-sm-6">
                <article class="media content-section">
                      <div class="media-body">
                        <form method="post">
                            {% csrf_token %}
{#                            {{ form|crispy }}#}
                            <div class="row">
                                <div class="col-sm-4">
                                    {{ form.username|as_crispy_field }}
                                </div>
                                <div class="col-sm-4">
                                    {{ form.password|as_crispy_field }}
                                </div>
                                <div class="col-sm-4">
                                    <br>
                                    <button class="btn btn-dark"><i class="fa fa-sign-in"></i></button>
                                </div>
                            </div>
                        </form>
                      </div>
                </article>
            </div>
            <div class="col-sm-8">&nbsp;</div>
        </div>
    </div>

{% endblock content %}