{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if request.user.is_superuser %}
        {% breadcrumb 'User Management' 'users:user-management' %}
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1>{{ title }}</h1>
                            </div>
                            <div class="col-sm-4">
                                {{ c_message|safe }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% include '_search_filter.html' %}
                    </div>
                    <div class="card-body">
                        <div id="user-list-div">
                            {% include 'users/user_management_table_partial.html' %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&nbsp;</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="user-form-card">
                    {% include 'users/user_management_form_partial.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}