{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if request.user.is_superuser %}
        {% breadcrumb 'User Management' 'users:user-management' %}
    {% endif %}
{% endblock breadcrumbs %}
{% block content %}
	<div class="container">
        <div class="mb-3"><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header bg-info-subtle">
                        <div class="row align-items-center">
                            <div class="col-sm-8">
                                <h1><i class="fa-solid fa-users-gear text-warning me-2"></i>{{ title }}</h1>
                            </div>
                            <div class="col-sm-4 text-end">
                                <small class="text-warning fade-out">{{ c_message|safe }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body filter-bar">
                        {% include '_search_filter.html' %}
                    </div>
                    <div class="card-body scroll p-0">
                        <div id="user-list-div" class="table-responsive">
                            {% include 'users/user_management_table_partial.html' %}
                        </div>
                    </div>
                    <div class="card-footer bg-info-subtle text-center">
                        <span class="badge bg-secondary-subtle text-secondary-emphasis border px-3 py-1 font-athletic fs-6">Active Roster: {{ rs|length }} Members</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="user-form-card">
                    {% include 'users/user_management_form_partial.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}