{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.last_name "users:user-detail" object.id %}
{#    {% breadcrumb "User Update" "users:user-update" object.id %}#}
{% endblock breadcrumbs %}
{% block content %}
	<div class="container">
        <div><small class="text-muted">{% render_breadcrumbs %}</small></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h1>{{ title }}</h1>
                    </div>
                    <div class="card-body">
                        {% include '_search_filter.html' %}
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>First/Last</th>
                                    <th>Last login</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                {% for u in users %}
                                    <tr>
                                        <td>{{ u.username }}</td>
                                        <td>{{ u.first_name }} {{ u.last_name }}</td>
                                        <td>{{ u.last_login }}</td>
                                        <td>
                                            <a class="m-1" href=""><i class="fa fa-lock"></i></a>
                                            <a class="m-1" href=""><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&nbsp;</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Add User</h2>
                    </div>
                    <div class="card-body">
                        {% include 'users/user_form_template.html' %}
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&nbsp;</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}