<div class="row align-items-center g-2">
    <div class="col-sm-7 col-md-8">
        <div id="n-results" class="d-flex align-items-center">
            <span class="scoreboard-badge">
                <i class="fa-solid fa-baseball-bat-ball"></i>
                <span class="row-count">{{ rs|length }} of {{ rs|length }} Records</span>
            </span>
        </div>
    </div>
    <div class="col-sm-5 col-md-4 text-sm-end">
        <div class="input-group">
            <span class="input-group-text bg-transparent border-end-0 text-muted"><i class="fa-solid fa-filter"></i></span>
            <input type="text" id="my-input" class="form-control border-start-0 ps-0" placeholder="Filter current list...">
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#my-input").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#my-table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
            let v = $('#my-table tr:visible').length;
            let ttl = $('#my-table tr').length;
            $('#n-results').html('<span class="scoreboard-badge"><i class="fa-solid fa-baseball-bat-ball"></i><span class="row-count">' + v.toString() + ' of ' + ttl + ' Records</span></span>');
        });
    });
</script>