{% load static %}
<header class="site-header">
  <nav id="my-navbar" class="navbar navbar-expand-md navbar-dark {% if request.COOKIES.toggle_mode and request.COOKIES.toggle_mode == 'dark' %}bg-dark{% else %}bg-primary{% endif %} fixed-top">
    <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'cards:card-list-50' %}"><img class="rounded" src="{% static 'pub/img/baseball_logo_black_background.jpg' %}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="btn-group">
                    <a class="nav-link dropdown-toggle" href="#players" id="players" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Players</a>
                    <div class="dropdown-menu" aria-labelledby="Players">
                        <a class="dropdown-item" href="{% url 'players:players-home' n %}">Last {{ n }} Players</a>
                        <a class="dropdown-item" href="{% url 'players:players-home' 0 %}">All Players</a>
                    </div>
                </div>
                
            </li>
            <li class="nav-item">
                <div class="btn-group">
                    <a class="nav-link dropdown-toggle" href="#cardsets" id="cardsets" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Card Sets</a>
                    <div class="dropdown-menu" aria-labelledby="cardsets">
                        <a class="dropdown-item" href="{% url 'cards:cardsets' 50 %}">Last 50 Card Sets</a>
                        <a class="dropdown-item" href="{% url 'cards:cardsets' %}">Card Sets (all)</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="btn-group">
                    <a class="nav-link dropdown-toggle" href="#card" id="cards" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">All Cards</a>
                    <div class="dropdown-menu" aria-labelledby="cards">
                        <a class="dropdown-item" href="{% url 'cards:card-list-50' %}">Last {{ n }} Cards</a>
                        <a class="dropdown-item" href="{% url 'cards:card-list-all' 0 %}">List by Player</a>
                        <a class="dropdown-item" href="{% url 'cards:card-list-all' 1 %}">List by Card Set</a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Navbar Right Side -->
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item align-middle">
                    <form method="post" action="{% url 'cards:search' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <label for="search"></label>
                            <input id="search" name="search" type="text" class="form-control form-control-lg rounded-start" placeholder="Player name, card set" required>
                            <button 
                                id="search-btn" 
                                class="btn {% if request.COOKIES.toggle_mode and request.COOKIES.toggle_mode == 'dark' %}btn-dark btn-outline-secondary{% else %}btn-primary btn-outline-light{% endif %} btn-lg "
                                hx-post="{% url 'cards:search' %}"
                                hx-target="#card-div"
                                hx-swap="innerHTML swap:1s"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>
            {% endif %}
            
            <li class="nav-item">
                <div class="btn-group">
                    <a class="nav-link dropdown-toggle" href="#manage" id="mgdrp" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{% if not user.is_authenticated %}Manage{% else %}{{ request.user.username }}{% endif %}</a>
                    <div class="dropdown-menu" aria-labelledby="mgdrp">
                      {% if user.is_authenticated %}
                          <a class="dropdown-item" href="{% url 'users:user-profile' user.id %}"><i class="fa fa-user"></i> Profile</a>
                          {% if request.user.is_superuser %}
                              <a class="dropdown-item" href="{% url 'users:user-management' %}"><i class="fa fa-users"></i> User Management</a>
                          {% endif %}
{#                          <a class="dropdown-item" href="#togglemode" id="toggle-link" hx-post="{% url 'users:toggle_mode' mode %}" hx-target="#toggle-mode" hx-swap="innerHTML"><span id="toggle-mode">{% include '_toggle_mode.html' %}</span></a>#}
                          <a class="dropdown-item toggleMode" href="#togglemode" id="toggle-link">{% include '_toggle_mode.html' %}</a>
                          <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
                      {% else %}
                          <a class="dropdown-item" href="{% url 'users:login' %}"><i class="fa fa-sign-in"></i> Login</a>
                      {% endif %}
                    </div>
                </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>