@import url("../shuffle/css/font-awesome.min.css");

body {
  background-color: #333333;
  color: #eee
}

table td {font-size: 13px;}

.small-header {
  font-size: 12px;
}

.content-section {
  background-color: #2f2f2f;
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #e1e1e1;
}

.article-title {
  color: #e1e1e1;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  font-size:13px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #888
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.redlink {
  color: darkred;
}

.redlink:hover {
  color: rebeccapurple;
}

.toast-header {
  background-color: #3c3c3c;
}

th, td {color: #e1e1e1;}

.list-group {
  background-color: #2b2b2b;
}